@model BusinessLayer.Models.PublisherDetail
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager

@{
    ViewData["Title"] = "Detail";
}

<div class="col-12">
    <div class="row">
        <div class="col-auto">
            <h2>@Model.Name</h2>
        </div>
        @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
        {
            <div class="col-auto m-sm-1" style="margin-left: 10px">@Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-sm btn-warning" })</div>
            <div class="col-auto m-sm-1" style="margin-left: 10px">
                @Html.ActionLink("Delete", "Delete", new { id = Model.Id }, new { @class = "btn btn-sm btn-danger" })
            </div>
        }
    </div>
</div>

<div class="col-6">
    <h3>Books:</h3>
    @if (Model.Books != null && Model.Books.Any())
    {
        foreach (var book in Model.Books)
        {
            <div class="border-bottom mb-2">
                <a href="@Url.Action("Detail", "Book", new {id = book.Id})"><p>@book.Name</p></a>
            </div>
        }
    }
    else
    {
        <p>No books yet.</p>
    }
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}