@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@model System.Collections.Generic.IEnumerable<BusinessLayer.Models.PublisherDetail>
@{
    ViewData["Title"] = "Publishers";
}

<h1>Publishers</h1>
<form asp-action="Search" asp-controller="Publisher" method="get">
    <input type="text" name="query" placeholder="Search..." />
    <button type="submit">Search</button>
</form>
    <p>
    </p>
@if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create Publisher", "Create", new { }, new { @class = "btn btn-sm btn-success" })
    </p>
}

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
             <td>
                 <div class="btn-group" role="group" aria-label="Publisher Actions">
                    <div>@Html.ActionLink("Detail", "Detail", new { id = item.Id }, new { @class = "btn btn-sm btn-primary" })</div>
                    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                    {
                        <div style="margin-left: 10px">@Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-sm btn-warning" })</div>
                        <div style="margin-left: 10px">@Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-sm btn-danger" })</div>
                    }
                </div>

            </td>
        </tr>
    }
    </tbody>
</table>