@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@model BookHub.Models.TableButton

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<div class="btn-group" role="group" aria-label="Book Actions">
    @if (Model.ShowDetail)
    {
        <div>@Html.ActionLink("Detail", "Detail", @Model.ControllerName, new { id = Model.Id }, new { @class = "btn btn-sm btn-primary" })</div>
    }
    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
    {
        <div>
            <a href="@Url.Action("Edit", Model.ControllerName, new { id = Model.Id })" class="fa fa-edit" style="text-decoration: none; font-size: 40px; color: #1a1e21;"></a>
        </div>
        <div style="margin-left: 10px">
            <a href="#" class="fa fa-trash" style="text-decoration: none; font-size: 36px; color: #1a1e21;" onclick="showConfirmDeleteModal()"></a>
        </div>

        <div class="modal" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmDeleteModalLabel">Confirm Delete</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" onclick="redirectToSearch()">&times;</span>
                            </button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete this item?
                    </div>
                    <div class="modal-footer">
                        <a href="@Url.Action("Delete", Model.ControllerName, new { id = Model.Id })" class="btn" id="deleteButton">Yes, Delete</a>
                        <a href="@Url.Action("Search", Model.ControllerName, new { id = Model.Id })" class="btn">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<script>
function redirectToSearch() {
        window.location.href = "@Url.Action("Search", Model.ControllerName, new { id = Model.Id })";
    }
    function showConfirmDeleteModal() {
        $('#confirmDeleteModal').modal('show');
    }
</script>
