@model BusinessLayer.Models.RatingDetail

@{
    ViewData["Title"] = "Detail";
}

<div class="col-12">
    <h2>@Model.Book.Name</h2>
</div>

<div class="col-6">
    <h3>Rating</h3>
 
    <div class="border-bottom mb-2">
        <p><strong>ID:</strong> @Model.Id</p>
        <p><strong>Book:</strong><a href="@Url.Action("Detail", "Book", new {id = Model.Book.Id})"><p>@Model.Book.Name</p></a></p>
        <p><strong>Value:</strong> @Model.Value</p>
        @if (!string.IsNullOrEmpty(Model.Comment))
        {
            <p><strong>Comment:</strong> @Model.Comment</p>
        }
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}