@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@model System.Collections.Generic.IEnumerable<BusinessLayer.Models.RatingDetail>
@{
    ViewData["Title"] = "Ratings";
}
@if (SignInManager.IsSignedIn(User))
{
    <h1>Ratings</h1>
    <form asp-action="Search" asp-controller="Rating" method="get">
        <input type="text" name="query" placeholder="Search..."/>
        <button type="submit">Search</button>
    </form>
    <p>
    </p>
}

@if (SignInManager.IsSignedIn(User))
{
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Book</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(i => item.Id)</td>
                <td>@Html.DisplayFor(i => item.Book.Name)</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Rating Actions">
                        
                        <div style="margin-left: 10px">@Html.ActionLink("Detail", "Detail", new { id = item.Id }, new { @class = "btn btn-sm btn-primary" })</div>
                        <div style="margin-left: 10px">@Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-sm btn-warning" })</div>
                        <div style="margin-left: 10px">@Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-sm btn-danger" })</div>
                    
                    </div>
                </td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <h1>No Ratings, first you need to sign in</h1>
}
