@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject SignInManager<User> SignInManager
@model System.Collections.Generic.IEnumerable<BusinessLayer.Models.UserDetail>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

@{
    ViewData["Title"] = "Users";
}

<h1>Users</h1>
<form asp-action="Search" asp-controller="User" method="get" class="mt-4">
    <div class="input-group mx-left" style="max-width: 300px;">
        <input type="text" name="query" class="form-control" placeholder="Search..." />
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </div>
    </form>
<p>
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.UserName)</th>
            <th>@Html.DisplayNameFor(model => model.Email)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.UserName)</td>
                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                <td>
                    <div class="btn-group" role="group" aria-label="User Actions">
                        <div style="margin-left: 10px">@Html.ActionLink("Reset Password", "ResetPassword", new { id = item.Id }, new { @class = "btn btn-sm btn-warning" })</div>
                        <div style="margin-left: 10px;">
                                <a href="#" class="fa fa-trash" style="text-decoration: none; font-size: 36px; color: #1a1e21;" onclick="showConfirmDeleteModal('@item.Id')"></a>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="modal" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteModalLabel">Confirm Delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" onclick="redirectToUsers()">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this user?
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-danger" id="deleteButton">Yes, Delete</a>
                <a href="#" class="btn btn-secondary" data-dismiss="modal">Cancel</a>
            </div>
        </div>
    </div>
</div>

<script>
    function redirectToUsers() {
        window.location.href = "@Url.Action("Index", "User")";
    }

    function showConfirmDeleteModal(id) {
        $('#deleteButton').attr('href', "@Url.Action("Delete", "User")" + "?id=" + id);
        $('#confirmDeleteModal').modal('show');
    }
</script>