@model BusinessLayer.Models.BookDetail

<div class="col-12">
    <h2>@Model.Name</h2>
</div>

<div class="col-6">

    <p>Publisher: <a href="@Url.Action("Detail", "Publisher", new { id = Model.Publisher.Id })">@Model.Publisher.Name</a>
    </p>
   <p>Primary Genre: @Model.PrimaryGenre.Name</p> 
    <p>Genres: </p>
    @if (Model.Genres.Any())
    {
        foreach (var genre in Model.Genres)
        {
            <div class="border-bottom mb-2">
                <a href="@Url.Action("Detail", "Genre", new { id = genre.Id })"> @genre.Name
                </a>
            </div>
        }
    }
    @if (Model.Authors.Any())
    {
        <p>Authors:</p>
        foreach (var author in Model.Authors)
        {
            {
                <div class="border-bottom mb-2">
                    <a href="@Url.Action("Detail", "Author", new { id = author.Id })">
                        <p>@author.Name</p>
                    </a>
                </div>
            }
        }
    }
    <p>Stock: @Model.StockInStorage</p>
    <p>Overall Rating: @Model.OverallRating %</p>
    <p>Price: @Model.Price</p>
     <h3>
            <button id="showReviewsBtn" class="btn btn-primary">
                Show all reviews
            </button>
        </h3>
    
        <div id="reviewsContainer">
            <!-- Reviews partial view content will be loaded here -->
        </div>
    </div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script>
        $(document).ready(function () {
            // Handle button click event
            $('#showReviewsBtn').on('click', function () {
                // Load reviews partial view content
                $.ajax({
                    url: '@Url.Action("ShowRatings", "Book", new { id = Model.Id })',
                    type: 'GET',
                    success: function (result) {
                        // Display the reviews content in the 'reviewsContainer'
                        $('#reviewsContainer').html(result);
                    },
                    error: function (error) {
                        console.error('Error loading reviews: ', error);
                    }
                });
            });
        });
    </script>
}