@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@model X.PagedList.IPagedList<BusinessLayer.Models.BookDetail>
@using X.PagedList.Mvc.Core
@{
    ViewData["Title"] = "Books";
}

<h1>Books</h1>
<form asp-action="Search" asp-controller="Book" method="get">
    <input type="text" name="query" placeholder="Search..." />
    <button type="submit">Search</button>
</form>
    <p>
    </p>
@if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create Book", "Create", new { }, new { @class = "btn btn-sm btn-success" })
    </p>
}

<table class="table">
    <thead>
    <tr>
    
        <th>Name</th>
        <th>Actions</th>

    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(i => item.Name)</td>
            <td>
                <div class="btn-group" role="group" aria-label="Book Actions">
                    <div>@Html.ActionLink("Detail", "Detail", new { id = item.Id }, new { @class = "btn btn-sm btn-primary" })</div>
                    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                    {
                        <div style="margin-left: 10px">@Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-sm btn-warning" })</div>
                        <div style="margin-left: 10px">@Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-sm btn-danger" })
                        </div>
                    }
                </div>

            </td>
        </tr>
    } 
    </tbody>
</table>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter })) 